<%= form_for @exports[:form] do |form| %>
  <%= form.text_field :title %>
  <%= form.submit %>
<% end %>

<% if @exports[:form].errors.any? %>
  <p>Error creating new record:</p>
  <ul>
    <% @exports[:form].errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<p>Samples:</p>
<ul>
  <% Sample.all.each do |sample| %>
    <li><%= sample.title %></li>
  <% end %>
</ul>
